* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






@media (min-width: 992px) {
    .services, .about, .blog {
        float: right;
    }
}


html, body, header, section, footer {
    width: 100%;
}
.container {
    border: 1px solid red;
}

.kara {
    color: $purple;
}

#home {
    background: url('../../images/header-bg.png') no-repeat;
    background-size: 100% 100%;
    
    h1 {
        display: block;
        font-family: 'Existence';
        color: white;
        font-size: 100px;
        margin: 80px auto;
        text-align: center;
    }
    h2, p {
        font-family: 'Lato Hairline';
        color: white;
        text-align: center;
        font-size: 30px;
    }
    p {
        margin-top: 20px;
        margin-bottom: 100px;
        font-size: 23px;
    }
    div.upper-menu {
        .services {
            
        }
        .portfolio {
            
        }
    }
    div.lower-menu {
        margin: 0 auto;
    }
    div.icons {
        background: url('../../images/icon-frame.png') no-repeat;
        width: 167px;
        height: 181px;
        margin: 0 auto;
    }
    .services {
        
    }
    .portfolio {
        
    }
    
}

#footer {
//    height: 100px;
    line-height: 100px;
    color: $regularFontColor;
    p {
        display: inline;
        font-family: 'Existence';
        font-size: 25px;
        font-weight: bold;
    }
    ul {
        float: right;
        list-style-type: none;
        margin-bottom: 0;
        li {
            display: inline-block;
            margin-left: 30px;
            a {
                color: $regularFontColor;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Lato';
                &:hover {
                    color: $purple;
                }
            }
        }
    }
}

#info {
    background-color: $backgroundGrey;
    color: $regularFontColor;
    font-family: 'Lato';
    padding: 100px 0;
    h3 {
        padding: 20px 0;
    }
    .frame {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('../../images/icon-frame.png') no-repeat;
        width: 167px;
        height: 181px;
        .icon {
            width: 83px;
            height: 63px;
        }
    }
    .container > div {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .heart {
        .icon {
            background: url('../../images/home_icons/home-heart-icon.png') center no-repeat;
        }
    }
    .diamond {
        .icon {
            background: url('../../images/home_icons/home-diam-icon.png') center no-repeat;
        }
    }
    .coffee {
        .icon {
            background: url('../../images/home_icons/home-coffee-icon.png') center no-repeat;
        }
    }
    .phone {
        .icon {
            background: url('../../images/home_icons/home-phone-icon.png') center no-repeat;
        }
    }
}

#about {
    padding: 200px 0;
    .about-header {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        .header-wrapper {
            position: relative;
            .header-arrow-left {
                position: absolute;
                top: 55px;
                left: -18px;
                width: 15px;
                height: 15px;
                border-left: 1px solid $purple;
                border-bottom: 1px solid $purple;
            }
            .header-arrow-right {
                position: absolute;
                top: 5px;
                left: 220px;
                width: 15px;
                height: 15px;
                border-right: 1px solid $purple;
                border-top: 1px solid $purple;
            }
        }
        h2 {
            display: inline-block;
            position: relative;
            font-family: 'Existence';
            font-size: 50px;
        }
    }
    
    
}

#quote-first {
    background: url('../../images/quote-bg.png') no-repeat;
    background-size: 100% 100%;
    .quote-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 150px auto;
        .quote-frame {
            display: flex;
            justify-content: center;
            align-items: center;
            background: url('../../images/icon-frame.png') no-repeat;
            width: 167px;
            height: 181px;
            margin-bottom: 70px;
            .quote-icon {
                background: url('../../images/quote-icon.png') no-repeat;
                width: 68px;
                height: 60px;
            }
        }
        .quote-text {
            font-family: 'Lato';
            font-size: 50px;
            color: white;
        }
    }
}


























